src/main/mule/CSVtoSalesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="07300134-e37d-48ab-8e31-f394b5e10715" >
		<file:connection workingDir="D:\Dest" />
	</file:config>
	
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="51b7c4fb-c47f-4e27-9637-54ba32be396c" >
		<salesforce:basic-connection username="ganesht@dextara.com" password="Dextara@12" securityToken="7tnTeTqmfyVMMLV1Ykic5bdV" url="https://login.salesforce.com/services/Soap/u/54"/>
	</salesforce:sfdc-config>
	<flow name="CSVtoSalesforceFlow" doc:id="43ed0d23-d891-4a1a-8044-cff51bb88bea" initialState="stopped">
		<file:listener doc:name="On New or Updated File" doc:id="73c17aaa-cbf4-4d75-b878-7603789f4200" config-ref="File_Config" directory="D:\Dest">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="09dcb887-6775-4581-bb00-312d15e8f6dc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Name: payload01.Name,
	Phone__c: payload01.Phone__c,
	Email__c: payload01.Email__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="CSVtoSalesforce__c" doc:name="Create" doc:id="2a1e5c85-b0c8-48fa-ba08-a0807cc0faf7" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="104a75b1-6e6c-4066-aea2-230cbb77674a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="3973fe9c-1963-401e-87d3-fe200be01a87" collection="#[payload]">
			<logger level="INFO" doc:name="Logger" doc:id="ab602217-280d-4509-8a72-e1fa5522465c" message="#[payload]" />
		</foreach>
	</flow>
</mule>
